{% if ansible_facts.net_iostype == "IOS" %}
ip name-server {{ dns_server1 }}
ip name-server {{ dns_server2 }}
{% elif ansible_facts.net_iostype == "IOS-XE" %}
ip name-server {{ dns_server1 }} {{ dns_server2 }}
{% endif %}
ip domain name {{ domain_name }}
ntp server {{ ntp_server1 }}
ntp server {{ ntp_server2 }}
