!
! boot system flash:/vEOS-lab.swi
!
transceiver qsfp default-mode 4x10G
!
hostname {{ inventory_hostname }}
ip name-server vrf default {{ dns_server1 }}
ip name-server vrf default {{ dns_server2 }}
!
! Newer Arista EOS requires different form for domain-name
dns domain {{ domain_name }}
!
ntp server {{ ntp_server1 }}
ntp server {{ ntp_server2 }}
!
spanning-tree mode rapid-pvst
!
aaa authorization exec default local
!
no aaa root
!
username admin privilege 15 role network-admin secret 5 $1$aM6w809x$tgkc6ZGhcScvELVKVHq3n0
username admin1 privilege 15 secret 5 $1$7kD0oS/t$wXhtTFwnWwnlPFKWwXoJ70
username eapi secret 5 {{ eapi_secret }}
username pyclass privilege 15 secret 5 $1$C3VfUfcO$86t4iqCX60yW.NIR8d2Lh0
!
clock timezone America/Los_Angeles
!
vlan 2-7
!
{% include "interfaces.j2" %}
!
ip route 0.0.0.0/0 {{ default_gw }}
!
ip routing
!
management api http-commands
   no shutdown
!
end
